<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
            Used to specify the default location to expand packages.
            See: nuget.exe help install
            See: nuget.exe help update

            In this example, %PACKAGEHOME% is an environment variable. On Mac/Linux,
            use $PACKAGE_HOME/External as the value.
        -->

        <!--
            Used to specify default source for the push command.
            See: nuget.exe help push
        -->

    </config>
    <packageSources>
	<clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="GPR" value="https://nuget.pkg.github.com/anangaur/index.json" />
    </packageSources>
</configuration>
